@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ccc;
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

.container {
    background-color: #fff;
    width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 220px;
}

.header {
    background: url('../img/logo3.jpg') top center no-repeat;
    background-size: 100% 100%;
    height: 240px;
    grid-column: span 2;
}

.header h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 0.3em;
    font-size: 2em;
    text-align: right;
    padding-right: calc(220px + 14em);
}

.sidebar {
    display: grid;
    grid-column: 2;
    text-align: center;
    padding-bottom: 30px;
}

#style-dropdown {
    background-color: #996600;
    color: #fff;
    align-self: flex-end;
    justify-self: center;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.sidebar h3 {
    background-color: #ccc;
    margin-top: 30px;
}

.menupont {
    height: 200px;
}

.menupont li {
    list-style-type: none;
}

.menupont a {
    color: #626f39;
    text-decoration: none;
    line-height: 2.5;
}

.content {
    display: grid;
    grid-column: 1;
    grid-row: 2;
    gap: 5em;
    padding: 20px 60px 5em 15px;
}

.news {
    line-height: 1.5;
}

.news h2 {
    background-color: #996600;
    margin-bottom: 20px;
    padding: 0 10px;
    color: white;
}

.news p {
    color: #657030;
}

.news p img {
    float: left;
    margin-right: 1em;
}

.footer {
    grid-column: span 2;
}

.footer p {
    background-color: #db9d66;
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
}